.index {
	align-content: center;
}

.pageBreak{
	border-bottom: 0.1em solid lightgray;
}

.resumeIcons{
	width: 1.5em;
	height: 1.5em;
}

.resumeTitles{
	font-weight: bold;
	border-bottom: solid 0.125em black;
	font-size: 1.5em;
	margin-top: 2em;
}

#overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: black no-repeat scroll center center;
}

#lightbox {
	position: absolute;
}

.codeLine{
	border-left: 0.5em solid lightgreen;
}

.htmlCode{
	padding: 2px 4px;
	font-size: 90%;
	color: #C7254E;
	border-radius: 4px;
	font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

.phpCode{
	padding: 2px 4px;
	font-size: 90%;
	color: #CC7A00;
	border-radius: 4px;
	font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

.stringCode{
	padding: 2px 4px;
	font-size: 90%;
	border-radius: 4px;
	font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

.indent{
	text-indent: 2em;
}

.codeComment{
	padding: 2px 4px;
	font-size: 90%;
	color: #00FF00;
	border-radius: 4px;
	font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}