.idea/
.img/
.css/bootstrap.css
.css/bootstrap.min.css
.css/simple-sidebar.css
.fonts/
.js/bootstrap.js
.js/bootstrap.min.js
.js/jquery.js
.less/
css/bootstrap.min.css
*.css
fonts/glyphicons-halflings-regular.eot
*.svg
fonts/glyphicons-halflings-regular.ttf
fonts/glyphicons-halflings-regular.woff
*.woff2
img/icons/LinkedIn-Logo-2C.png
*.png
*.jpg
js/bootstrap.js
js/jquery.js
*.less
js/bootstrap.min.js
nbproject/private/private.properties
nbproject/project.properties
nbproject/project.xml
nbproject/private/config.properties